<link rel="stylesheet" href="/css/products/product.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalle del producto</title>
</head>
<body>
   
   <div id="product-container">
<div id="card">
     <img src={{product_image}} id="card-img-top" alt="product-image">
  <div id="card-body">
    <h3 id="card-title">{{name}}</h5>
    <p id="card-text">Codigo: {{code}}</p>
    <p id="card-text">Descripcion del producto: {{description}}</p>
     <p id="card-text">Precio: {{price}}$</p>
     <p id="card-text">Stock: {{stock}}</p>
    <a href="/cart/add/{{id}}" id="btn-primary">Agregar al carrito</a>
  </div>
</div>
   </div>
</body>